# Message templates
chevron==0.13.*

# Fetching remote resources
requests==2.20.*

# YAML parsing for configurations
ruamel.yaml==0.15.*

# Filtering old/future offers
python-dateutil==2.7.*

# Keeping offers unique yet sorted by appearance on app
orderedset==2.0.*

# Removing special characters from random emails
Unidecode==1.0.*
