# Message templates
chevron==0.12.*

# Pillow for generating images
Pillow==5.1.*

# QR code generation
qrcode==6.*

# Fetching remote resources
requests==2.18.*

# YAML parsing for configurations
ruamel.yaml==0.15.*

# Filtering old/future offers
python-dateutil==2.7.*

# Keeping offers unique yet sorted by appearance on app
orderedset==2.0.*
