# Bot library
python-telegram-bot==10.1.0

# Pillow for generating images
Pillow==5.1.0

# QR code generation
qrcode==6.0

# Fetching remote resources
requests==2.18.4

# YAML parsing for configurations
ruamel.yaml==0.15.37
